<h2>Search Tribe</h2>
<form action="/tribes" method="GET">
    <label>Name</label>
    <input type="'text", name="name", value="<%= searchOptions.name %> ">
    <button type="submit">Search</button>
</form>
<br><br>
<% tribes.forEach(tribe => { %>
    <div><%= tribe.name %> </div>
<% }) %> 