<header>
    <nav>
        <a href="/">SHOP</a>
        <ul>
            <li><a href="/sellers">Sellers</a></li>
            <li><a href="/sellers/new">Add Seller</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/items/new">Add Item</a></li>
        </ul>
    </nav>
</header>