<header>
    <nav>
        <a href="/">SHOP</a>
        <ul>
            <li><a href="/cards">Cards</a></li>
            <li><a href="/cards/new">Add Card</a></li>
            <li><a href="/tribes">Minion Types</a></li>
            <li><a href="/tribes/new">Add Minion Type</a></li>
        </ul>
    </nav>
</header>